---
Checks: '-*,boost-*,bugprone-*,cert-*,concurrency-*,cppcoreguidelines-*,hicpp-*,misc-*,modernize-*,performance-*,portability-*,readability-*,clang-analyzer-*,-clang-diagnostic-logical-op-parentheses,-clang-diagnostic-dangling-else,-modernize-use-trailing-return-type,-readability-named-parameter,-hicpp-named-parameter,-hicpp-braces-around-statements,-readability-braces-around-statements,-readability-misleading-indentation,-cppcoreguidelines-macro-usage,-cppcoreguidelines-non-private-member-variables-in-classes,-misc-non-private-member-variables-in-classes,-bugprone-macro-parentheses,-bugprone-forwarding-reference-overload,-cppcoreguidelines-pro-type-union-access'
WarningsAsErrors: '*'
FormatStyle: 'file'
HeaderFilterRegex: '.*'
User: blurringshadow