---
Language: Cpp
Standard: Latest

AccessModifierOffset: -4
AlignAfterOpenBracket: false
AlignEscapedNewlines: Left
AlignOperands: DontAlign
AlignTrailingComments: false
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowBreakBeforeNoexceptSpecifier: OnlyWithParen
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Allman
BreakInheritanceList: AfterColon
BreakBeforeTernaryOperators: false
BreakConstructorInitializers: AfterColon
BinPackLongBracedList: false
BreakAfterOpenBracketBracedList: true
BreakAfterOpenBracketFunction: true
BreakAfterOpenBracketLoop: true
BreakAfterOpenBracketSwitch: true
BreakBeforeCloseBracketBracedList: true
BreakBeforeCloseBracketFunction: true
BreakBeforeCloseBracketLoop: true
BreakBeforeCloseBracketSwitch: true
BreakBinaryOperations: OnePerLine
Cpp11BracedListStyle: FunctionCall
EnumTrailingComma: Remove
RemoveEmptyLinesInUnwrappedLines: true
ColumnLimit: 100
EmptyLineBeforeAccessModifier: Always
FixNamespaceComments: false
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: "(../)*compilation_config_in.h"
    SortPriority: 99
    Priority: 99
  - Regex: '".+"'
    SortPriority: 0
    Priority: 0
  - Regex: "<(experimental\/)?[^\/.]+>"
    SortPriority: 2
    Priority: 2
  - Regex: "<.+>"
    SortPriority: 1
    Priority: 1
IndentCaseLabels: true
IndentGotoLabels: true
IndentPPDirectives: BeforeHash
IndentWidth: 4
IndentWrappedFunctionNames: true
KeepEmptyLinesAtEOF: true
KeepEmptyLinesAtTheStartOfBlocks: false
NamespaceIndentation: All
PackConstructorInitializers: NextLine
KeepEmptyLines:
  AtStartOfFile: false
NumericLiteralCase:
  ExponentLetter: Upper
  HexDigit: Upper
  Prefix: Upper
  Suffix: Upper
PenaltyBreakAssignment: 20
PenaltyBreakBeforeFirstCallParameter: 10
PenaltyBreakComment: 0
PenaltyBreakFirstLessLess: 0
PenaltyBreakOpenParenthesis: 10
PenaltyBreakScopeResolution: 30
PenaltyBreakString: 100
PenaltyBreakTemplateDeclaration: 0
PenaltyExcessCharacter: 1000
PenaltyReturnTypeOnItsOwnLine: 50
PointerAlignment: Left
QualifierAlignment: Left
SeparateDefinitionBlocks: Always
SortIncludes: CaseSensitive
SortUsingDeclarations: false
SpaceAfterTemplateKeyword: false
SpaceBeforeCtorInitializerColon: false
SpaceBeforeParens: Never
SpacesInContainerLiterals: false
WrapNamespaceBodyWithEmptyLines: Never
